<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Account</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

  <script type="text/javascript">
    function checkPassword(form) {
      var password1 = form['password'].value;
      var password2 = form['password-check'].value;

      // If Not same return False.     
      if (password1 != password2) {
        alert("\nNew passwords did not match: Please try again...")
        return false;
      }
      // If same return True.
      else {
        // alert("Password Match, Welcome!")
        return true;
      }
    }
  </script>
</head>

<body>

  <header id="masthead">
    <div id="searchbar">
    </div>
    <h1>Price Alert</h1>
  </header>

  <form method="post" action="changepassword.php" id="mainForm" onsubmit="return checkPassword(this)">
  <div class="login-container">
    <h2>Change Password</h2>
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div class="input-group">
        <label for="old-password">Old Password</label>
        <input type="password" name="old-password" id="old-password" required>
      </div>
      <div class="input-group">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="input-group">
        <label for="password-check">Re-enter Password</label>
        <input type="password" name="password-check" id="password-check" required>
      </div>
      <div class="button-group">
        <button type="submit" class="sign-in-btn">Change Password</button>
      </div>
  </div>
</form>
</body>

</html>