<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-9" />
    <title>Price Alert</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../static/css/indexStyle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="masthead">
      <h1>Price Alert</h1>

      <form class="searchbar" method="get" action="/search">
        <input type="search" name="Search" placeholder="Find Amazon Products" />
        <button type="submit">Search</button>
      </form>

      <a class="login" href="login.html"><button>Login</button></a>
      <a class="createacc" href="create-account.html"
        ><button>Create Account</button></a
      >
    </header>

    <p>placeholder</p>

    <footer class="footer">
      <div class="container">
        <p>&copy; 2024 Price Alert</p>
      </div>
    </footer>
  </body>
</html>
