<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form action="/submit-your-login-form" method="post">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <!-- Forget Password Link -->
        <div class="input-group">
          <a href="reset-password.html" class="forget-password-link"
            >Forget Password? Reset it</a
          >
        </div>
        <button type="submit" class="sign-in-btn">Sign In</button>
        <button
          type="button"
          class="create-account-btn"
          onclick="window.location.href='create-account.html';"
        >
          Create Account
        </button>
      </form>
    </div>
  </body>
</html>
